---
import Section from "../Section.astro"

import { certificates } from "@cv"
---
<Section title="Certificados">
    <ul>
      {
        certificates.map(({ name, date, issuer, url }) => {
          const startYear = new Date(date).getFullYear()
          const years = `${startYear}`
  
          return (
            <li>
              <article>
                <header>
                  <div>
                    <a href=`${url}` target="_blank">{name}</a>
                  </div>
  
                  <a  href=`${url}` target="_blank"><svg  xmlns="http://www.w3.org/2000/svg"  width="24"  height="24"  viewBox="0 0 24 24"  fill="none"  stroke="currentColor"  stroke-width="2"  stroke-linecap="round"  stroke-linejoin="round"  class="icon icon-tabler icons-tabler-outline icon-tabler-link"><path stroke="none" d="M0 0h24v24H0z" fill="none"/><path d="M9 15l6 -6" /><path d="M11 6l.463 -.536a5 5 0 0 1 7.071 7.072l-.534 .464" /><path d="M13 18l-.397 .534a5.068 5.068 0 0 1 -7.127 0a4.972 4.972 0 0 1 0 -7.071l.524 -.463" /></svg></a>
                </header>
  
                <footer>
                    <p>{issuer}</p>
                </footer>
              </article>
            </li>
          )
        })
      }
    </ul>
  </Section>

  <style>
    ul {
      display: flex;
      flex-direction: column;
      gap: 32px;
    }
  
    article h3 {
      font-weight: 500;
      color: #111;
    }
  
    header {
      display: flex;
      justify-content: space-between;
      align-items: flex-start;
      margin-bottom: 4px;
    }
  
    time {
      color: #555;
      font-size: 0.85rem;
      min-width: 102px;
    }
  
    @media (width <= 700px) {
      time {
        text-align: right;
      }
    }
    a{
        color: blueviolet;
    }
  </style>